<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Game: Roshambo</title>
</head>
<body id = "total_page1">
    <header>
        <h1>Welcome to <b>Ro</b>-<b>Sham</b>-<b>Bo</b></h1>
    </header>
    <h2>Welcome to Ro-Sham-Bo</h2>
    <p>Ro-sham-bo, A.K.A. <b>rock-paper-scissors</b>. A classic game where two players choose their respective "<a href="https://en.wikipedia.org/wiki/Rock_paper_scissors"> <b id="1st_page_weapon_choice">weapons</b> </a>" in order to overcome their adversary</p>
    <a href="/roshambo_rules">How to</a>

    {% block content %}
        
    {% endblock %}
</body>
</html>