{% extends "base.html" %}

{% block content %}
<body id = "total_page2">
    <section class="how-to-play">
        <h2>How to play:</h2>
        <br>
        <p>There are 3 choices each player may select: <b>rock, paper, or scissors </p>
        <p>Step 2: Select rock, paper, or scissors, followed by '/'</p>
        <p>There are three options to choose from:
        <br>
        <b id="rpc_p">Rock, Paper or Scissors</b>
        <br>
        <br>
        Once chosen, Player 1 will input their choice into the URL followed by a '/'. Then Player 2 will input their choice.
        </p>
        <p>E.g. /paper/scissors</p>
    </section>
</body>
{% endblock %}
